<!DOCTYPE html>

<html>
<!-- absaluat path and relative path/ below absalute path -->
{{!-- delete index.html and put in here
 this is a another way to do ui and its more helps with dinamic rendering --}}

<head>
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="header-content">
        {{>header}}

        <p id="t-1">Get your weather</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="data-1"></p>
        <p id="data-6"></p>
        <div id="main-view">
            <div id="sub-view-1">
                <img  src='/img/default.png' id="data-4" width="107" height="98">
                <p id="data-2"></p>
            </div>
            <div class="other-data">
                <p id="data-3"></p>
                <p id="data-5"></p>
            </div>
        </div>

    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>